nav{
    display: flex;
    background: #FFFFE3;
}
.paga-logo{
    width: 118.42px;
    height: 33px;
    padding-top: 41.5px;
    padding-left: 131px;
}
.center-menu{
    display: flex;
    padding-top: 47.5px;
    padding-left: 160px;
    gap: 12%;
}
.right-items{
    display: flex;
    padding-top: 49px;
    padding-left: 1000px;
    width: 100%;
    gap: 12%;
}