@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: oxygen;
    src: url(../fonts/Oxygen-Regular.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    width: 1440px;
    height: 740px;
    left: 0px;
    top: 0px;
    background: #FFFFE3;
}
.header-items{
    position: absolute;
    width: 1440px;
    height: 120px;
    left: 0px;
    top: 0px;
}
.header-items-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 94px;
    position: absolute;
    width: 1178.42px;
    height: 48px;
    left: 131px;
    top: 34px;
}
.header-items1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 160px;
    width: 745.42px;
    height: 33px;
}

.paga-logo{
    width: 118.42px;
    height: 33px;
    padding-top: 41.5px;
    padding-left: 131px;
}
.header-items-links1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 467px;
    height: 21px;
}
.header-items-links1 a{
    text-decoration: none;
    width: 59px;
    height: 21px;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #1E1F38;
}
.header-items-links1 a:hover{
    text-decoration: underline;
}
.header-items2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;
    width: 339px;
    height: 48px;
}
.header-items-links2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 257px;
    height: 48px;
}
#login{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 97px;
    height: 48px;
    border-radius: 4px;
}
#login a{
    text-decoration: none;
    width: 37px;
    height: 18px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #F16725;
}
#getstarted{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 137px;
    height: 48px;
    background: #F16725;
    border-radius: 4px;
}
#getstarted a{
    text-decoration: none;
    width: 76px;
    height: 18px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
#getstarted a:hover{
    text-decoration: underline;
}
#landing-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 568px;
    height: 412px;
    left: 130px;
    top: 200px;
}
.landing-text1{
    color: #F16725;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
}
.landing-text-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 568px;
    height: 383px;
}
.landing-text-details1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 568px;
    height: 319px;
}
.landing-text-details2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 301px;
    height: 48px;
}
.landing-text2{
    color:  #1E1F38;;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 122.5%;
    width: 600px;
    margin-bottom: 16px;
}
.landing-text3{
    width: 493px;
    height: 96px;
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    margin-bottom: 16px;
    color: rgba(30, 31, 56, 0.8);
}
.create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 181px;
    height: 48px;
    background: #F16725;
    border-radius: 4px;
}
.create a{
    text-decoration: none;
    width: 121px;
    height: 18px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.create a:hover{
    text-decoration: underline;
}
.learn{
    text-decoration: none;
    width: 80px;
    height: 21px;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FF5555;
}
.learn:hover{
    text-decoration: underline;
}
#landing-photo-circle{
    position: absolute;
    width: 431px;
    height: 431px;
    top: 41px;
    left: 131px;
    background: #F16725;
    border-radius: 349.459px;
}
#landing-photo{
    position: absolute;
    width: 666.28px;
    height: 472px;
    left: 698px;
    top: 229px;
}
#landing-photo img{
    position: absolute;
    width: 666.28px;
    height: 289px;
}
.features{
    position: absolute;
    width: 1440px;
    height: 1046px;
    left: 0px;
    top: 740px;
    background: #FFFFFF;
}
.features-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    position: absolute;
    width: 1095px;  
    height: 822px;
    left: 173px;
    top: 136px;
}
.join{
    width: 579px;
    height: 118px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 122.5%;
    color: #1E1F38;
}
.features-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 1095px;
    height: 656px;    
}
#features-boxes-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;
    width: 1095px;
    height: 304px;
}
#features-boxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 8.03px;
    width: 333px;
    height: 250px;
    background: #FFFFE3;
    border-radius: 30px;
}
#features-boxes-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 269px;
    height: 235px;
}
.features-boxes-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 269px;
    height: 161px;
}
.features-boxes-details1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
    gap: 16px;
    width: 269px;
    height: 101px;
}
.features-boxes-details2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 9.04px;
    width: 108.04px;
    height: 20px;
}
.feature-text1{    
    margin-top: 24px;
    width: 210px;
    height: 25px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color:#F16725;
}
.feature-text2{
    margin: 16px 0 40px 0;
    width: 269px;
    height: 80px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(30, 31, 56, 0.8);
}
.feature-text3{
    width: 83px;
    height: 20px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 16.0639px;
    line-height: 122.5%;
    color: #F16725;
    text-decoration: none;
}
.why-paga{
    position: absolute;
    width: 1440px;
    height: 677px;
    left: 0px;
    top: 1786px;
    background: #FFFFFF;
}
.why-paga-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 612px;
    height: 100px;
    left: 414px;
    top: 85px;
}
#why{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px 0px 24px;
    gap: 10px;
    width: 120px;
    height: 33px;
    background: #FDB913;
    border-radius: 30px;
}
#why p{
    width: 72px;
    height: 20px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
}
.freedom{
    width: 612px;
    height: 59px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 122.5%;
    text-align: center;
    color: #1E1F38;
}
#why-paga-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 258px 0 0 197px;
    gap: 48px;
    width: 1047px;
    height: 290px;
}
.details{
    height: 250px;
    width: 269px;
}
.details img{
    margin-left: 85px;
    height: 100px;
    width: 100px;
}
.details h5{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    width: 243px;
    height: 25px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 122.5%;
    text-align: center;
    color: #F16725;
}
.details p{
    margin-top: 15px;
    width: 269px;
    height: 80px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 122.5%;
    text-align: center;
    color: rgba(30, 31, 56, 0.8);
}
.billers{
    position: absolute;
    width: 1440px;
    height: 759px;
    left: 0px;
    top: 2463px;
    background: #FFFFE3;
}
#billers-text p{
    width: 750px;
    height: 123px;
    padding: 55px 0 0 152px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #1E1F38;
}
#billers-text h6{
    width: 319px;
    height: 37px;
    padding: 20px 0 0 152px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 122.5%;
    color: #FF5555;
}
.billers-icons-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 0 0 152px;
    gap: 40px;
    width: 1136px;
    height: 96px;
}
.billers-icons-row3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 56px 0 0 250px;
    gap: 40px;
    width: 940px;
    height: 96px;
}
#agent{
    position: absolute;
    width: 1165px;
    height: 490px;
    left: 138px;
    top: 3322px;
    background: #F16725;
    border-radius: 30px;
}
.agent-text{
    padding-left: 110px;
    padding-top: 96px;
}
.need{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 12px;
    gap: 10px;
    width: 128px;
    height: 30px;
    background: #FDB913;
    border-radius: 40px;
    width: 104px;
    height: 18px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.over{
    margin-top: 14px;
    margin-bottom: 0px;
    width: 453px;
    height: 118px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 122.5%;
    color: #FFFFFF;
}
.you{
    margin-top: 8px;
    width: 460px;
    height: 75px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 122.5%;
    color: rgba(255, 255, 255, 0.8);
}
.a{
    display: flex;
    gap: 16px;
    margin-top: 40px;
}
.find{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 153px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 4px;
    width: 93px;
    height: 18px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #F16725;
    text-decoration: none;
}
.become{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 177px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 117px;
    height: 18px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.agent-image2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 677px;
    top: 55px;
}
.agent-image1{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 932px;
    top: 82px;
}
.agent-image3{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 812px;
    top: 270px;
}
.customers{
    position: absolute;
    width: 1440px;
    height: 647px;
    left: 0px;
    top: 3932px;
    background: #FFFFFF;
}
.customers-div{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 0px;
    gap: 80px;
    position: absolute;
    width: 1196px;  
    height: 521px;
    left: 122px;
    top: 60px;
}
.customers-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 80px;
    width: 1196px;
    height: 417px;
}
#customers-text{
    width: 453px;
    height: 50px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #1E1F38;
}
#customers-photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
    width: 1196px;
    height: 287px;
}
.customer-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 254px;
    height: 267px;
}
.tag1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 195px;
    height: 25px;
}
.tag1 p{
    width: 155px;
    height: 25px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1E1F38;
}
.tag2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 172px;
    height: 25px;
}
.tag2 p{
    width: 132px;
    height: 25px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1E1F38;
}
.tag3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 167px;
    height: 25px;
}
.tag3 p{
    width: 127px;
    height: 25px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1E1F38;
}
.tag4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 141px;
    height: 25px;
}
.tag4 p{
    width: 101px;
    height: 25px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #1E1F38;
}
.desc{
    width: 254px;
    height: 40px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: rgba(30, 31, 56, 0.8);
}
.small-circles{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 92px;
    height: 24px;
}
#white-circle{
    width: 18px;
    height: 18px;
    background: #F7F7F7;
    border-radius: 9px;
}
#pink-circle{
    width: 24px;
    height: 24px;
    background: #FF5555;
    border-radius: 12px;
}
.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 111px;
    position: absolute;
    width: 1440px;
    height: 1249px;
    left: 0px;
    top: 4679px;
}
.partners-div{
    width: 1440px;
    height: 734px;
    background: #FFFFFF;
}
.partners-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 1228px;
    height: 611.12px;
    left: 152px;
    top: 55px;
}
#partners-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 705px;
    height: 118px;
}
#partners-text p{
    width: 705px;
    height: 118px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 122.5%;
    color: #1E1F38;
}
.download-options{
    width: 1165px;
    height: 404px;
    background: #F16725;
    border-radius: 30px;
}
.download-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;   
    gap: 11px;
    width: 567px;
    height: 292px;
    position: relative;
}
.download-details-text1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    gap: 10px;
    width: 231px;
    height: 46px;
    background: #FDB913;
    border-radius: 30px;
}
.download-details-text1 p{
    width: 183px;
    height: 22px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
}
.download-details-informations{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    position: absolute;
    width: 567px;
    height: 292px;
    left: 110px;
    top: 56px;
}
.download-details-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 567px;
    height: 235px;
}
.download-details-text2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 567px;
    height: 135px;
}
.download-details-text2 p{
    width: 500px;
    height: 135px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;
    color: #FFFFFF;
}
.download-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 48px;
    width: 455px;
    height: 60px;
}
.hand{
    box-sizing: border-box;
    position: absolute;
    left: 875px;
    bottom: 0px;

}
footer{
    position: absolute;
    top: 6108px;
    height: 471px;
    width: 1440px;
    background-color: #FFFFE3;
}
.footer{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 75px;
    position: absolute;
    width: 1170px;
    height: 225px;
    left: 135px;
    top: 96px;
}
#footer-paga{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 278px;
    height: 225px;
}
#footer-paga p{
    padding-top: 24px;
    padding-bottom: 24px;
    width: 278px;
    height: 120px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1E1F38;
}
.social-icons{
    width: 144px;
    height: 24px;
    display: flex;
    gap: 16px;
    position: absolute;
    top: 220px;
}
#footer-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 132px;
    height: 186px;
}
#footer-details h6{
    width: 255px;
    height: 30px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FF5555;
}
#list-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 160px;
    height: 132px;
    font-family: inter;
    font-style: normal;
}
#list-items a{
    width: 160px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1E1F38;
    text-decoration: none;
}
#list-items a:hover{
    text-decoration: underline;
}
.reach{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 255px;
    height: 48px;
}
#sub-footer{
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    bottom: 0;
}
#sub-footer p{
    position: absolute;
    width: 250px;
    height: 24px;
    right: 1020px;
    bottom: 45px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1E1F38;
}
#sub-footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 250px;
    height: 24px;
    right: 60px;
    bottom: 45px;
}
#sub-footer-links a{
    width: 124px;   
    height: 24px;
    font-family: oxygen;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #1E1F38;
    text-decoration: none;
}
#sub-footer-links a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    header{
        position: absolute;
        width: 375px;
        height: 656px;
        left: 0px;
        top: 0px;
        background: #FFFFE3;
    }
    #landing-photo{
        position: absolute;
        width: 255.5px;
        height: 181px;
        left: 60px;
        top: 443px;
    }
    #landing-photo img{
        position: absolute;
        width: 255.5px;
        height: 110.82px;
        left: 60px;
        top: 443px;
    }
    #landing-photo-circle{
        position: absolute;
        width: 165.28px;
        height: 165.28px;
        left: 110.24px;
        top: 458.72px;
        background: #F16725;
        border-radius: 134.009px;
    }
    .header-items{
        position: absolute;
        width: 165.28px;
        height: 165.28px;
        left: 110.24px;
        top: 458.72px;
        background: #F16725;
        border-radius: 134.009px;
    }
    .header-items-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 184.8px;
        width: 343.22px;
        height: 40px;
    }
    .header-items1 img{        
        width: 118.42px;
        height: 33px;
    }
    .header-items2{
        background-image: url(../images/header-photos/eva_menu-fill.pngs);
        width: 40px;
        height: 40px;
    }
    .landing-text-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 296px;
        height: 267px;
        left: 40px;
        top: 134px;
    }
    .landing-text-details1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 16px;
        width: 296px;
        height: 150px;
    }
    .landing-text2{
        width: 296px;
        height: 50px;
        font-family: oxygen;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 122.5%;
        text-align: center;
        color: #1E1F38;
    }
    .landing-text3{
        width: 292px;
        height: 84px;
        font-family: poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
    }
}